<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Over</title>
  <link rel="stylesheet" href="../Assets/css/Score.css">
</head>
<body>
  <div id="score-container">
    <h1 class="score-title">Game Over</h1>
    <div class="score-box">
      <p class="final-score">Your Score: <span id="score">0</span></p>
    </div>
    <div class="button-container">
      <a href="../Views/Play.html" class="score-button play-again-button">Play Again</a>
    </div>
    <a href="../Views/Dashboard.html" class="back-home-icon">
      <img src="../Assets/images/back.png" alt="Back to Home">
    </a>
  </div>

  <script src="score.js"></script>
</body>
</html>
